@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap');

html {
    overflow-y: scroll !important;
    scrollbar-color: #67ff21 #0f0b12;
    scrollbar-width: thin;
    overflow-x: hidden
}

body::-webkit-scrollbar {
    width: 8px
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

body::-webkit-scrollbar-thumb {
    background-color: #67ff21;
    outline: #67ff21 solid 1px
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    color: #c4c4c4;
    line-height: 1.6em;
    font-weight: 400;
    background: #0d0e1b;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 0.75px;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}


h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700
}

a {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #6b739c;
}

a:focus {
    text-decoration: none;
    outline: medium none;
    color: inherit
}

a:hover {
    color: inherit;
    text-decoration: none;
    color: inherit
}

button:focus {
    outline: medium none;

}

::-moz-placeholder {
    color: #7c8a97;
}

::-webkit-input-placeholder {
    color: #7c8a97;
}

::-webkit-select-placeholder {
    color: #7c8a97;
}

::-webkit-textarea-placeholder {
    color: #7c8a97;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.fag-btn-outline {
    padding: 10px 20px;
    border: 2px solid #FFF;
    font-size: 20px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 25px;
    font-family: 'Rajdhani', sans-serif;
    display: inline-block;
    font-weight: 600
}

.fag-btn-outline:hover {
    background: #67ff21;
    border-color: #67ff21;
    color: #fff;
}

.site-heading {
    position: relative;
    padding-bottom: 5px;
    text-align: center;
    width: 70%;
    margin: 0 auto 30px;
}

.site-heading h2 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 45px;
    margin-bottom: 30px;
    font-weight: 700;
    display: block;
    color: #fff;
    letter-spacing: 0.03em;
    position: relative;
    padding-bottom: 5px;
    -webkit-transition: all 850ms ease;
    transition: all 850ms ease
}

.site-heading h2:after {
    position: absolute;
    content: "";
    width: 0px;
    border-color: #67ff21 transparent !important;
    margin: 10px 0;
    border-style: solid !important;
    border-width: 4px 7px 0px 7px !important;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    -webkit-transition: all 850ms ease;
    transition: all 850ms ease
}

.site-heading h2 span {
    color: #67ff21
}

.site-heading p {
    font-size: 18px;
    line-height: 28px
}

.fheader1_p_100 {
    padding: 100px 0;
}

.section_140 {
    padding: 140px 0;
}

.top-layer {
    content: '';
    position: absolute;
    left: 0;
    top: -73px;
    width: 100%;
    height: 74px;
    background: url(../img/pattern-1.png) center bottom repeat-x;
    z-index: 2;
}


@media (min-width: 576px) {
    .bottom-layer {
        content: '';
        position: absolute;
        left: 0;
        bottom: -73px;
        width: 100%;
        height: 74px;
        background: url(../img/pattern-2.png) center top repeat-x;
        z-index: 2;
    }
    
}

.main-banner {
    padding: 170px 0 600px;
    background: url("../img/OIG2.jpg") no-repeat scroll center center/cover
}

.breadcromb-box {
    text-align: center;
}

.breadcromb-box {
    text-align: center;
}

.breadcromb-box h3 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 20px
}

.breadcromb-box li {
    display: inline-block;
    margin: 0 2px;
    color: #fff !important;
    font-size: 16px;
    text-transform: uppercase;
}

.breadcromb-box li a {
    color: #fff
}

.breadcromb-box li i {
    color: #67ff21
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }

    50% {
        -webkit-transform: rotate(-2deg) scale(1.1, 1.1);
        transform: rotate(-2deg) scale(1.1, 1.1);
    }

    100% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }

    50% {
        -webkit-transform: rotate(-2deg) scale(1.1, 1.1);
        transform: rotate(-2deg) scale(1.1, 1.1);
    }

    100% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }
}

.fag-games-area {
    position: relative;
    background: #080811 none repeat scroll 0 0;
    z-index: 1
}

.games-item {
    float: left;
    margin: 30px 0 0;
    padding: 0 15px;
}

.games-single-item{
    background: #0d0e1b none repeat scroll 0 0;
    overflow: hidden;
    position: relative;
}

.games-desc {
    padding: 20px;
}

.games-thumb {
    position: relative
}

.games-thumb-image {
    position: relative;
    overflow: hidden;
}

.game-overlay {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
}

.games-single-item:hover .games-thumb-image:before {
    height: 200%;
    opacity: 1;
}

.games-single-item:after {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #67ff21;
    left: 0;
    border-radius: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.games-single-item:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.games-desc h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-bottom: 5px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600
}

.games-desc h3 a {
    color: #fff
}

.games-desc p {
    margin: 0;
    font-size: 15px;
    color: #999;
    line-height: 24px;
    text-transform: capitalize;
}

.game-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 10px
}

.game-price h4 {
    font-size: 20px;
    color: #fff
}

.game-price h4 del {
    color: rgba(255, 255, 255, .5)
}

.game-price .off {
    margin-left: 3px;
    color: #f34f4f;
    font-style: italic;
    font-size: 14px;
}

.game-action a.fag-btn-outline {
    padding: 6px 20px;
    border: 1px solid #FFF;
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 25px;
    font-family: 'Rajdhani', sans-serif;
    display: inline-block;
    font-weight: 600;
}

.game-action a.fag-btn-outline:hover {
    border: 1px solid #67ff21
}

.fag-current-match-area {
    position: relative;
    background: #0d0e1b none repeat scroll 0 0;
    z-index: 1
}

.fag-promo-area {
    position: relative;
}

.fag-promo-area:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.fag-team-area {
    position: relative;
    padding-bottom: 70px
}

.team-item {
    background: #080811 none repeat scroll 0 0;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px
}
.team-image img {
	width: 100%;
}

.team-details {
    margin-top: 20px;
}

.team-details h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 26px;
}

.team-details span {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
}

.fag-preorder-area {
    position: relative;
    background: url(../img/foto2.jpg) no-repeat fixed 0 0/cover;
    z-index: 1;
    padding: 100px 0;
    height: 540px;
}

.fag-preorder-area:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.preorder-inn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.preorder-box h3 {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.preorder-box h3 span {
    display: block;
    font-size: 45px;
}

.preorder-box p {
    font-size: 24px;
    text-transform: capitalize;
    color: #fff;
    line-height: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.75px;
}

.preorder-box a {
    margin-top: 30px;
    padding: 10px 40px
}

.fag-footer {
    position: relative;
    background: url(../img/footer_bg.jpg) no-repeat fixed center center/cover;
    z-index: 1
}

.fag-footer:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: #080811 none repeat scroll 0 0;
    opacity: 0.9;
    z-index: -1;
}

.footer-top-area {
    padding: 70px 0 100px;
    position: relative;
}
.single-footer {
	margin-top: 30px;
}

.single-footer h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 24px;
    margin-bottom: 20px;
}

.single-footer p {
    color: #727489;
    font-size: 16px;
    margin: 0 0 10px;
}

.single-footer ul li {
    margin: 5px 0 0
}

.single-footer ul li a {
    color: #727489;
    font-size: 15px;
    display: block
}

.single-footer ul li a:hover {
    color: #fff
}

.single-footer ul li a span {
    margin-right: 5px;
    color: #67ff21
}

.footer-contact {
    margin-top: 15px;
}

.footer-contact h4 i {
    width: 25px;
    font-size: 16px;
    color: #67ff21;
}

.footer-contact h4 {
    font-size: 18px;
}

.footer-contact p {
    margin-left: 25px;
    line-height: 21px;
    margin-top: 5px;
    margin-bottom: 0;
}

.copyright p{
    margin: 0
}

.games-thumb-image{
    text-align: center
}
.games-thumb-image img{
    width: 100%
}

.accordion {
    width: 100%;
}

.card-body {
    color: white;
    background: #080811 none repeat scroll 0 0;
}

.card {
    background-color: #0d0e1b;
    border: 0;
}

h3 span {
    color: #67ff21
}

.tour-rating {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.product-details-text .tour-rating ul {
    display: inline-block;
    margin-right: 10px;
    text-align: left
}

.tour-rating ul li {
    display: inline-block;
    font-size: 15px;
    margin: 0;
    line-height: 20px;
}

.tour-rating ul li i {
    color: #ffa11a;
}


.product-panel-list {
    margin-top: 100px;
}

.product-panel-list #pills-tab {
    border-bottom: 1px solid #333;
}

.product-tab li.nav-item {
    margin-right: 15px;
}

.product-panel-list .nav-pills .nav-link.active:after,
.product-panel-list .nav-pills .show > .nav-link:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    color: #ff7a21;
    height: 2px;
    content: '';
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    background: #ff7a21;
}

.product-panel-list .nav-link:after {
    position: absolute;
    right: auto;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    content: '';
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    background: #ff7a21;
}

.product-panel-list .nav-pills .nav-link.active,
.product-panel-list .nav-pills .show > .nav-link {
    color: #ff7a21 !important;
    background-color: transparent;
    position: relative;
}

.product-panel-list .nav-pills .nav-link {
    color: #fff;
}

.product-panel-list .nav-link {
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 400;
    position: relative;
    padding: 0 0 2px 0;
}

.tab-body p {
    margin: 0 0 10px
}

.tab-body p:last-child {
    margin: 0
}

.tab-body {
    margin-top: 20px;
}

.tab-body h3 {
    margin-bottom: 10px;
    font-size: 28px;
}

.section_100 {
    padding: 100px 0;
}

span a {
    color: #67ff21
}
